{% extends "assets/bases/base.html" %}

{% block content %}
    <h3>Meet The Team!</h3>
    <h4>Yunus Emre Geldegül</h4>
    <p>Python Develoepr, Linux User, Open Source Lover</p>
    <h4>Oktay Karakaya</h4>
    <p>My name is Oktay Karakaya. I have been working as a Graphic Designer and Social Media Specialist since 2019.</p>
    <h4>İlteriş Keskin</h4>
    <p>My name is Ali İlteriş Keslin. I have been working backend developer since 2016. I love GNU/Linux and DevOps Enthusiast.</p>
{% endblock %}