{% extends "assets/bases/base.html" %}

{% block content %}
    Hi! <br>
    <p>
    We wanted to provide an environment for you to save, organize and share your code pieces. You can become a member and organize your code pieces and share them with your friends.
        <br>
    Please do not forget! Dolphin is a new and open application. There will be errors and omissions. We are working to correct the errors and complete the deficiencies.
    If you would like to share your experiences or convey your problems, please contact me by e-mail;<br>
    yunusemregeldegul [at] gmail [dot] com
    </p>
{% endblock %}