{% extends "assets/bases/base.html" %}

{% block content %}
    Hi! <br>
    <p>
    We wanted to provide an environment where you can save, edit and share your code fragments. After becoming a member, you can edit and share your code fragments with your friends.
    </p>
    <p>Please note! Dolphin is a new and open application. There will be bugs and shortcomings. We are working to fix the bugs and complete the shortcomings. If you want to share your experiences or share your problems, please contact me via e-mail.
    yunusemregeldegul [at] gmail [dot] com
    </p>
{% endblock %}