{% extends "assets/bases/app.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <b>Title:</b> {{ the_collection.title }} <b>by</b> {{ the_collection.user.username }}<br>
            <b>Description:</b> {{ the_collection.description }}<br>
            <b>Created / Updated:</b> {{ the_collection.created_at }} / {{ the_collection.updated_at }}<br>
            <b>Privacy:</b> {{ the_collection.privacy.value }}<br>
            <b>Tag(s):</b>
            <p>
                {% for tag in the_collection.tags %}
                    <div class="label label-primary">{{ tag.name }}</div>
                {% endfor %}
            </p>
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ url_for("collection.snippet_create", uuid=the_collection.uuid) }}" class="btn btn-default btn-icon">Add Snippet<i class="entypo-list-add"></i></a>
            <a href="{{ url_for("collection.collection_update", uuid=the_collection.uuid) }}" class="btn btn-blue btn-icon">Edit Collection<i class="entypo-pencil"></i></a>
            <button type="button" onclick="delete_collection()" class="btn btn-red btn-icon">Delete Collection<i class="entypo-cancel"></i></button>
        </div>
    </div>
    <hr>
    {% for snippet in the_snippets %}
        <div class="panel panel-primary" data-collapsed="{{ loop.index0 }}"> <!-- data-collapsed="0" -->
            <div class="panel-heading">
                <div class="panel-title">{{ snippet.name }} ({{ snippet.language }}) -> {{ snippet.privacy.value }}</div>
                <div class="panel-options">
                    <a href="{{ url_for("collection.snippet_detail", uuid=snippet.uuid) }}"><i class="entypo-pencil"></i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <pre><code class="language-{{ snippet.language }}">{{ snippet.content | e }}</code></pre>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function delete_collection() {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{{ url_for("collection.collection_delete", uuid=the_collection.uuid) }}",
                        method: 'DELETE',
                        dataType: 'json',
                        error: function () {
                            alert("An Error Occoured!");
                        },
                        success: function (response) {
                            Swal.fire(
                                "Deleted!",
                                "Your file has been deleted.",
                                "success"
                            )
                            window.location.href = "{{ url_for("collection.collection_index") }}";
                        }
                    });

                }
            })
        }
    </script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/languages/go.min.js"></script>
{% endblock %}